In [3]:
import pandas as pd

In [4]:
lista = ["../data/2016_1.csv", "../data/2016_2.csv", "../data/2016_3.csv", "../data/2016_4.csv", "../data/2016_5.csv", "../data/2016_6.csv", "../data/2016_7.csv", "../data/2016_8.csv", "../data/2016_9.csv", "../data/2016_10.csv", "../data/2016_11.csv", "../data/2016_12.csv", "../data/2017_1.csv", "../data/2017_2.csv", "../data/2017_3.csv", "../data/2017_4.csv", "../data/2017_5.csv", "../data/2017_6.csv", "../data/2017_7.csv", "../data/2017_8.csv", "../data/2017_9.csv", "../data/2017_10.csv", "../data/2017_11.csv", "../data/2017_12.csv", "../data/2018_1.csv", "../data/2018_2.csv", "../data/2018_3.csv", "../data/2018_4.csv", "../data/2018_5.csv", "../data/2018_6.csv", "../data/2018_7.csv", "../data/2018_8.csv", "../data/2018_9.csv", "../data/2018_10.csv", "../data/2018_11.csv", "../data/2018_12.csv", "../data/2019_1.csv", "../data/2019_2.csv", "../data/2019_3.csv", "../data/2019_4.csv", "../data/2019_5.csv", "../data/2019_6.csv", "../data/2019_7.csv", "../data/2019_8.csv", "../data/2019_9.csv", "../data/2019_10.csv", "../data/2019_11.csv", "../data/2019_12.csv", "../data/2020_1.csv", "../data/2020_2.csv", "../data/2020_3.csv", "../data/2020_4.csv", "../data/2020_5.csv", "../data/2020_6.csv", "../data/2020_7.csv", "../data/2020_8.csv", "../data/2020_9.csv", "../data/2020_10.csv", "../data/2020_11.csv", "../data/2020_12.csv", "../data/2021_1.csv", "../data/2021_2.csv", "../data/2021_3.csv", "../data/2021_4.csv", "../data/2021_5.csv", "../data/2021_6.csv", "../data/2021_7.csv", "../data/2021_8.csv", "../data/2021_9.csv", "../data/2021_10.csv", "../data/2021_11.csv", "../data/2021_12.csv"
]

# Leer y combinar los archivos csv en un df único
df_total = pd.concat([pd.read_csv(file) for file in lista])

# Elimina la columna "Unnamed: 0"
df_total = df_total.drop(columns=["Unnamed: 0"])

Combina múltiples archivos csv que contienen datos históricos de criptomonedas para diferentes meses y años en un solo DataFrame llamado `df_total`. Además, se elimina una columna no deseada que podría haber sido creada al cargar los archivos csv. Esto facilita el análisis y la manipulación de los datos históricos de las criptomonedas.

----------

In [5]:
df_total = df_total[df_total['fecha'] >= "2016-01"]
df_total.dropna(inplace = True)
df_total.to_csv("../data/total.csv")
df_total

,id,precio,fecha,ranking_capitalizacion,capitalizacion,volumen
0,bitcoin,456.434000,2016-01,1,556404486447,1.710584e+09
1,dogecoin,0.000449,2016-01,9,9557297683,1.921126e+06
2,ethereum,2.519720,2016-01,2,215779763630,1.166954e+07
3,litecoin,3.602216,2016-01,14,5528376552,2.786167e+08
4,ripple,0.006887,2016-01,5,31228846655,2.889670e+06
...,...,...,...,...,...,...
10,solana,241.691522,2021-12,10,9467020385,6.509911e+09
11,staked-ether,4705.735380,2021-12,7,14630479508,1.021761e+08
12,tether,1.014148,2021-12,3,82888039545,1.265166e+11
13,tron,0.101320,2021-12,11,6680489274,2.791756e+09
14,usd-coin,1.012936,2021-12,6,26055037253,8.965110e+09

Se aplica un filtro temporal y una limpieza de datos nulos al DataFrame df_total, se guarda la versión modificada en un archivo csv y se muestra el DataFrame resultante.

---------

In [6]:
df_top_15_capitalizacion_actual = pd.read_csv("../data/top_15_capitalizacion_actual.csv")
lista_monedas = df_top_15_capitalizacion_actual['id'].tolist()
lista_monedas

['bitcoin',
 'ethereum',
 'tether',
 'binancecoin',
 'ripple',
 'usd-coin',
 'staked-ether',
 'cardano',
 'dogecoin',
 'solana',
 'tron',
 'polkadot',
 'matic-network',
 'litecoin',
 'shiba-inu']

Este fragmento de código permite cargar los datos de las 15 criptomonedas con mayor capitalización desde un archivo CSV y extraer una lista de los nombres de estas criptomonedas para su posterior uso en el análisis de datos.

------------

In [7]:
# Base de datos por cripto
cripto = 'bitcoin'
df = df_total[df_total['id'] == cripto]
df.to_csv(f"../data/{cripto}.csv")
df

,id,precio,fecha,ranking_capitalizacion,capitalizacion,volumen
0,bitcoin,456.434000,2016-01,1,556404486447,1.710584e+09
0,bitcoin,441.120000,2016-02,1,556767480985,1.847224e+09
0,bitcoin,425.349000,2016-03,1,556767480985,2.766256e+09
0,bitcoin,467.856000,2016-04,1,556767480985,1.609960e+09
0,bitcoin,534.224000,2016-05,1,556767480985,2.308853e+09
...,...,...,...,...,...,...
1,bitcoin,50311.818126,2021-08,1,556013242648,4.690398e+10
1,bitcoin,52774.412756,2021-09,1,556013242648,7.736656e+10
1,bitcoin,67118.891946,2021-10,1,556198646739,5.369280e+10
1,bitcoin,68640.160350,2021-11,1,556198646739,1.118346e+11
1,bitcoin,58612.920116,2021-12,1,556198646739,6.317296e+10

In [8]:
df_prueba = pd.read_csv(f"../data/{cripto}.csv")
df_prueba

,Unnamed: 0,id,precio,fecha,ranking_capitalizacion,capitalizacion,volumen
0,0,bitcoin,456.434000,2016-01,1,556404486447,1.710584e+09
1,0,bitcoin,441.120000,2016-02,1,556767480985,1.847224e+09
2,0,bitcoin,425.349000,2016-03,1,556767480985,2.766256e+09
3,0,bitcoin,467.856000,2016-04,1,556767480985,1.609960e+09
4,0,bitcoin,534.224000,2016-05,1,556767480985,2.308853e+09
...,...,...,...,...,...,...,...
67,1,bitcoin,50311.818126,2021-08,1,556013242648,4.690398e+10
68,1,bitcoin,52774.412756,2021-09,1,556013242648,7.736656e+10
69,1,bitcoin,67118.891946,2021-10,1,556198646739,5.369280e+10
70,1,bitcoin,68640.160350,2021-11,1,556198646739,1.118346e+11
71,1,bitcoin,58612.920116,2021-12,1,556198646739,6.317296e+10

Se crea una base de datos de una moneda especifica y se guarda en un archivo csv.

-----------

In [9]:
# Base de datos sin cripto
sin_cripto = 'bitcoin'
df_sin_cripto = df_total[df_total['id'] != sin_cripto]
df_sin_cripto.to_csv(f"../data/sin_{sin_cripto}.csv")
df_sin_cripto

,id,precio,fecha,ranking_capitalizacion,capitalizacion,volumen
1,dogecoin,0.000449,2016-01,9,9557297683,1.921126e+06
2,ethereum,2.519720,2016-01,2,215779763630,1.166954e+07
3,litecoin,3.602216,2016-01,14,5528376552,2.786167e+08
4,ripple,0.006887,2016-01,5,31228846655,2.889670e+06
5,tether,1.000000,2016-01,3,82920558742,5.408870e+05
...,...,...,...,...,...,...
10,solana,241.691522,2021-12,10,9467020385,6.509911e+09
11,staked-ether,4705.735380,2021-12,7,14630479508,1.021761e+08
12,tether,1.014148,2021-12,3,82888039545,1.265166e+11
13,tron,0.101320,2021-12,11,6680489274,2.791756e+09
14,usd-coin,1.012936,2021-12,6,26055037253,8.965110e+09

Se crea una base de datos **sin** una moneda especifica y se guarda en un archivo csv.